{% extends 'base.html' %}

{% block title %}
Registration Page
{% endblock %}

{% block content %}
<h1 class="display-1">Register</h1>
<form action="/register" method="POST">
    {{ form.hidden_tag() }}

    {% for field in form if field.widget.input_type != 'hidden' %}
        <div class="my-3">
            {{ field.label(class_="form-label") }}
            {{ field(class_="form-control") }}
        </div>
    {% endfor %}
    <button class="btn btn-outline-success my-3">Submit</button>
</form>
{% endblock %}